/* ==========================================================================
   Typography
   ========================================================================== */

@font-face {
    font-family: 'RobotoDraft';
    src: url("../fonts/RobotoDraft-Regular.woff?v=1.0.0") format("woff"),
    url("../fonts/RobotoDraft-Regular.woff2?v=1.0.0") format("woff2"),
    url("../fonts/RobotoDraft-Regular.ttf?v=1.0.0") format("truetype"),
    url("../fonts/RobotoDraft-Regular.svg#RobotoDraft-Regular") format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'inconsolatamedium';
    src: url('../fonts/inconsolata-webfont.woff2') format('woff2'),
    url('../fonts/inconsolata-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Circo';
    src: url("../fonts/Circo.woff?v=1.0.0") format("woff"),
    url("../fonts/Circo.woff2?v=1.0.0") format("woff2"),
    url("../fonts/Circo.ttf?v=1.0.0") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "cssr";
    src: url('../fonts/icons/cssr.eot');
    src: url('../fonts/icons/cssr.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icons/cssr.woff') format('woff'),
    url('../fonts/icons/cssr.ttf') format('truetype'),
    url('../fonts/icons/cssr.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'social-icons';
    src:  url('../fonts/icons/social-icons.eot');
    src:  url('../fonts/icons/social-icons.eot?#iefix') format('embedded-opentype'),
    url('../fonts/icons/social-icons.ttf') format('truetype'),
    url('../fonts/icons/social-icons.woff') format('woff'),
    url('../fonts/icons/social-icons.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

/* =========================================================
   general
   ========================================================= */

h1 {
    font-size: 32px;
}

h2 {
    font-size: 26px;
}

h3 {
    font-size: 22px;
}

h4 {
    font-size: 18px;
}

h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
span,
figcaption {
    position: relative;
}

p {
    display: inline-block !important;
    width: 100%;
}
