/* ==========================================================================
   BEM object orientated content dependant - custom classes
   ========================================================================== */

body {
    min-height: 360px !important;
}

/* =========================================================
   .main-heading
   ========================================================= */

.main-heading {
    font-size: 3em;
    line-height: 1;
    margin: 0;
}

@media screen and (max-width: 1024px) {

    .main-heading {
        font-size: 1.125rem;
        line-height: 1.5;
    }

}

/* =========================================================
   color theme
   ========================================================= */

.bg-cssr-brand-blue {
    background-color: #00447e !important;
}

.swatch {
    position: relative;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin: 0;
    z-index: 5;
    width: 100%;
    max-width: 350px;
}

.swatch__panel {
    position: relative;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-flex: 1 1 100%;
    -ms-flex: 1 1 100%;
    flex: 1 1 100%;
    height: 30px;
    margin: 0;
    z-index: 10;
    transition: all 0.2s linear;
}

.swatch__panel--bg-color-1 {
    background-color: #1193FF;
}

.swatch__panel--bg-color-2 {
    background-color: #00c176;
}

.swatch__panel--bg-color-3 {
    background-color: #ff2a76;
}

.swatch__panel--bg-color-4 {
    background-color: #F2A30F;
}

.swatch__panel--bg-color-5 {
    background-color: #666666;
}

.swatch__panel--bg-color-6 {
    background-color: #b8b8b8;
}

.swatch__panel--bg-color-7 {
    background-color: #e3e3e3;
}

.swatch__panel--bg-color-8 {
    background-color: #ededed;
}

/* =========================================================
   Links
   ========================================================= */

.linkedin-link {
    position: relative;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 30px;
    height: 30px;
}

.git-link {
    position: relative;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 30px;
    height: 30px;
}
