/* ==========================================================================
   BEM - custom classes
   ========================================================================== */

body {
    min-height: 360px !important;
}

/* =========================================================
   .main-heading
   ========================================================= */

.main-heading {
    font-size: 3em;
    line-height: 1;
    margin: 0;
}

@media screen and (max-width: 1024px) {

    .main-heading {
        font-size: 1.125rem;
        line-height: 1.5;
    }

}

/* =========================================================
   color theme
   ========================================================= */

.bg-cssr-brand-blue {
    background-color: #00447e !important;
}

.color--cssr-brand-blue {
    color: #00447e !important;
}

/* =========================================================
   feature detection
   ========================================================= */

.modernizr-list {
  position: relative;
  -webkit-column-count: 3;
  -moz-column-count: 3;
  column-count: 3;
  width: 100%;
}

.modernizr-list li{color:var(--color-green); font-size: 13px; }
.no-customelements li.customelements{ color: var(--color-magenta); }
.no-eventlistener li.eventlistener{ color: var(--color-magenta); }
.no-fetch li.fetch{ color: var(--color-magenta); }
.no-fullscreen li.fullscreen{ color: var(--color-magenta); }
.no-history li.history{ color: var(--color-magenta); }
.no-json li.json{ color: var(--color-magenta); }
.no-queryselector li.queryselector{ color: var(--color-magenta); }
.no-sharedworkers li.sharedworkers{ color: var(--color-magenta); }
.no-template li.template{ color: var(--color-magenta); }
.no-websockets li.websockets{ color: var(--color-magenta); }
.no-websocketsbinary li.websocketsbinary{ color: var(--color-magenta); }
.no-webworkers li.webworkers{ color: var(--color-magenta); }
.no-setclasses li.setclasses{ color: var(--color-magenta); }

@media screen and (max-width: 1024px) {

    .modernizr-list {
        -webkit-column-count: 2;
        -moz-column-count: 2;
        column-count: 2;
   }

}

@media screen and (max-width: 768px) {

    .modernizr-list {
        -webkit-column-count: 1;
        -moz-column-count: 1;
        column-count: 1;
   }

}
